@font-face {
  font-family: 'icomoon';
  src:  url(./src/assets/fonts/base-icons/icomoon.eot);
  src:  url(./src/assets/fonts/base-icons/icomoon.eot) format('embedded-opentype'),
  url(./src/assets/fonts/base-icons/icomoon.ttf) format('truetype'),
  url(./src/assets/fonts/base-icons/icomoon.woff) format('woff'),
  url(./src/assets/fonts/base-icons/icomoon.svg) format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-arrow:before {
  content: "\e900";
  color: #d1d1d1;
}
.icon-eye:before {
  content: "\e901";
  color: #1390e5;
}
.icon-eye-off:before {
  content: "\e902";
  color: #d1d1d1;
}
.icon-grid:before {
  content: "\e903";
}
.icon-like:before {
  content: "\e904";
  color: #1390e5;
}
.icon-like-active .path1:before {
  content: "\e905";
  color: rgb(197, 228, 249);
}
.icon-like-active .path2:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(19, 144, 229);
}
.icon-list:before {
  content: "\e907";
}

.icon-eye {
  &::before {
    color: #c8c8c8;
  }
}
.icon-like-active::before {
  display: inline-block;
  content: " ";
  background-image: url("../../../assets/img/like-active.svg");
  background-size: 26px 26px;
  background-repeat: no-repeat;
  background-position: center;
  height: 25px;
  width: 26px;
}